
:root {
    --main-blue: #6682ec;
    --button-main: #72cb73;
    --button-chat: #e4e1e8;
    --chat-message-bg: #fbf4f7;
    --background-color: #fffafc;
    --font: Roboto,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --button-radius: 11px;    
}

*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;}

body {
    background-color: var(--background-color);
}
footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    display: flex;
    border-top: 2px rgb(192, 192, 192) solid;
}
footer nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer nav a{
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer nav a p:nth-child(2){
    font-size: medium;
    color: rgb(79, 79, 79);
    font-family: sans-serif;
    margin-top: 0.3vh;
}

/* #region -------- Create Profile ------- */
.profile-header-body {
    font-family: var(--font);
    min-height: 100vh;
    /* margin: 0 0px; */
    font-size: 16px;
    line-height: 24px;
    background-color: var(--background-color);
}
.profile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    text-align: center;
    p {
        font-weight: bold;
        font-size: 18px;
    }

    a {
        position: absolute;
        left: 10px
    }
}

.header-create-profile {
}

.arrow_black {
    color: black;
    height: 20px;
}

.choose-sport-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
    justify-content: flex-start;
    margin-top: 150px;
     
    h1 {
        margin-bottom: 22px;
        height: 34px;
        font-size: 26px;
    }
}

.sport-options {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 10px;
    justify-content: center;

    button { /* FIXME: class html wordt misschien niet gebruikt */
        border: none;
        background-color: var(--button-chat);
        padding: 16px 14px;
        font-size: 20px;
        font-weight: 500;
        width: 40%;
        height: auto;

        border-radius: var(--button-radius);
    }
}

.green-button {
    height: 55px;
    width: 70%;
    text-decoration: none;
    color: white;
    font-size: 23px;
    background-color: var(--button-main);
    border-radius: var(--button-radius);

    display: flex;
    justify-content: center;
    align-items: center;

    bottom: 50px;
    position: absolute;
}
/* #endregion  */