
:root {
    --main-blue: #6682ec;
    --button-main: #8cbe7e;
    --button-chat: #e9e5eb;
    --chat-message-bg: #fbf4f7;
    --background-color: #fffafc;
}

* {
    margin: 0;
    padding: 0;
    /* font-family: ;
    font-size: ;
    line-height: ; */
    scroll-behavior: smooth;
    overflow-x: hidden;
}
